@model htmx_trello.Lane.AddLaneModel

<form hx-post="/boards/@Model.BoardId/lanes"
      hx-swap="outerHTML"
      hx-target="this">
    <input asp-for="LaneName"
           type="text"
           class="form-control"
           required
           placeholder="Add a lane"
           _="on blur hide the closest .add-lane-form then set my value to '' then show <button.add-lane-button/>"/>
    <span asp-validation-for="LaneName" class="text-danger"></span>
</form>