@model htmx_trello.Lane.AddLaneModel

<button class="btn add-lane-button"
        _="on click show next .add-lane-form then hide me then focus() the first <input.form-control /> in the next .add-lane-form">
    <i class="bi-plus-lg"></i>
</button>
<div class="add-lane-form"
     hx-get="@Url.Action("ShowAddLaneForm", new { boardId = Model.BoardId })"
     hx-trigger="laneAdded from:body"
     hx-target="closest .add-lane"
     style="display: none">
    <partial name="_AddLaneForm" />
</div>