@model htmx_trello.Lane.AddLaneModel

<button class="btn add-lane-button"
        _="on click 
             show next .add-lane-form 
             hide me 
             focus() the first <input[type=text] /> in the next .add-lane-form">
    <i class="bi-plus-lg"></i>
</button>
<div class="add-lane-form"
     hx-get="/boards/@Model.BoardId/addLaneForm"
     hx-trigger="laneAdded from:body"
     hx-target="closest .add-lane"
     style="display: none">
    <partial name="_AddLaneForm" />
</div>