@model htmx_trello.Data.BoardDto

@if ((bool) (ViewData["RenderTitleTag"] ?? false))
{
    <title>@Model.Name - Htmello</title>
}
<h1 hx-get="@Url.Action("ShowEditBoardName", new { boardId = Model.BoardId })"
    hx-swap="outerHTML">
    @Model.Name
    <vc:board-card-count board-id="@Model.BoardId" />
</h1>