@model htmx_trello.Data.BoardDto

<form hx-put="/boards/@Model.BoardId/editName" 
      hx-swap="outerHTML">
    <input type="text"
           id="boardName"
           name="boardName"
           value="@Model.Name"
           required
           placeholder="Enter board name"
           autocomplete="off"
           autofocus
           hx-get="/boards/@Model.BoardId/name"
           hx-trigger="blur"
           hx-target="closest form"
           hx-swap="outerHTML"/>
</form>