@model htmx_trello.Data.BoardDto

<div class="form-container">
    <form hx-put="/boards/@Model.BoardId/editName" hx-target="closest div" hx-swap="outerHTML">
        <input type="text" name="boardName" value="@Model.Name" required placeholder="Enter board name" autocomplete="off" autofocus/>
    </form>
    <div hx-get="/boards/@Model.BoardId/name" hx-target="closest div.form-container" hx-swap="outerHTML" class="discard-layer"></div>
</div>