@model htmx_trello.Data.BoardDto

<div class="lanes" 
     id="lanes">
    @Html.AntiForgeryToken()
    @foreach (var lane in Model.Lanes)
    {
        <partial model="@lane" name="_Lane"/>
    }
    <div id="endoflanes" class="visually-hidden"></div>
    <div class="add-lane">
        <partial name="_AddLane"/>
    </div>
</div>