@model htmx_trello.Data.LaneDto

<div class="lane">
    <h5>
        @Model.Name
        <span class="badge bg-primary"
              hx-get="/boards/@Model.BoardId/lanes/@Model.LaneId/cardCount"
              hx-trigger="cardAdded:@Model.LaneId from:body, cardRemoved:@Model.LaneId from:body, cardsSorted from:body"
              hx-swap="innerHTML">
            @Model.Cards.Count
        </span>
    </h5>

    <form class="card-stack"
          data-lane="@Model.Name"
          hx-put="/boards/@Model.BoardId/lanes/@Model.LaneId/sortItems"
          hx-trigger="add,update">
        @foreach (var card in Model.Cards)
        {
            <partial model="@card" name="_Card"/>
        }
    </form>
    <button class="btn add-card-button"
            _="on click
                show next .add-card-form 
                hide me 
                focus() the first <input[type=text] /> in the next .add-card-form">
        <i class="bi-plus-lg"></i> Add a card
    </button>
    <div class="add-card-form lane-card"
        style="display:none">
        <form hx-post="/boards/@Model.BoardId/lanes/@Model.LaneId"
            hx-target="previous .card-stack"
            hx-swap="beforeend">
            <input type="text"
                   class="form-control"
                   name="cardName" 
                   required 
                   placeholder="Add new card" 
                   autocomplete="off"
                   _="on blur or cardAdded from body
                        hide the closest .add-card-form
                        set my value to '' 
                        show <button.add-card-button/>"/>
        </form>
    </div>
</div>