@model htmello.Data.BoardDto

@{
    // this is either "true", in which case hx-swap-oob is rendered, or null, in which case it's not rendered
    string? outOfBandSwap = (bool) (ViewData["OutOfBandSwap"] ?? false)
                                ? "true"
                                : null;
}

<span class="badge bg-primary"
      id="boardCardCount"
      hx-swap-oob="@outOfBandSwap">
    @Model.CardCount
</span>