@model htmx_trello.Data.CardDto

<div class="card">
    <div class="card-body">
        <input type="hidden" name="cards" value="@Model.CardId" />
        <p class="card-text">@Model.Title</p>
        <a href="#" class="btn btn-outline-danger">Delete</a>
    </div>
</div>