@model htmx_trello.Index.IndexModel

@{
    ViewBag.Title = "Welcome";
    Layout = "_Layout";
}

<div class="row">
    <div style="width: 400px;">
        <h5>New board</h5>
        <partial name="_CreateBoard"/>
    </div>
</div>
<div class="row">
    <h3>Boards</h3>
</div>
<div class="row flex-nowrap" hx-history="false">
    @foreach (var board in Model.AllBoards)
    {
        <div class="col-3">
            <div class="card" style="border-bottom: 3px solid @board.Color">
                <div class="card-body">
                    <h5 class="card-title mb-0">
                        <a href="/boards/@board.BoardId">@board.Name</a>
                    </h5>
                </div>
            </div>
        </div>
    }
</div>