@model htmx_trello.Data.BoardDto

@{
    Layout = null;
}

<form hx-put="@Url.Action("EditBoardName", new { id = Model.Id })" hx-target="closest div" hx-swap="outerHTML">
    @Html.AntiForgeryToken()
    <input name="name" value="@Model.Name" required placeholder="Enter board name"/>
</form>
