@model htmx_trello.Data.BoardDto

<div class="form-container">
    <form hx-put="@Url.Action("EditBoardName", new { boardId = Model.BoardId })" hx-target="closest div" hx-swap="outerHTML">
        @Html.AntiForgeryToken()
        <input name="name" value="@Model.Name" required placeholder="Enter board name" autocomplete="off"/>
    </form>
    <div hx-get="@Url.Action("ShowBoardName", new { boardId = Model.BoardId })" hx-target="closest div.form-container" hx-swap="outerHTML" class="discard-layer"></div>
</div>