@model htmx_trello.Data.BoardDto

<div class="row flex-nowrap" 
     id="lanes">
    @Html.AntiForgeryToken()
    @foreach (var lane in Model.Lanes)
    {
        <partial model="@lane" name="../Lane/_Lane"/>
    }
    <div id="endoflanes" class="visually-hidden"></div>
    <div class="col-3">
        <partial name="../Board/_AddLane"/>
    </div>
</div>