@model htmx_trello.Data.LaneDto

<div hx-get="@Url.Action("ShowAddCardForm", "Lane", new { boardId = Model.BoardId, laneId = Model.LaneId })" 
     hx-trigger="cardAdded:@Model.LaneId from:body">
    <form hx-post="@Url.Action("AddCard", "Card", new { boardId = Model.BoardId, laneId = Model.LaneId })"
          hx-target="previous .sortable"
          hx-swap="beforeend"
          hx-include="">
        @Html.AntiForgeryToken()
        <input type="text" name="cardName" required placeholder="Add new card" autocomplete="off"/>
    </form>
</div>