@model htmx_trello.Data.LaneDto

<form class="sortable" 
      data-lane="@Model.Name"
      hx-put="@Url.Action("SortItems", "Lane", new { boardId = Model.BoardId, laneId = Model.LaneId })"
      hx-trigger="add,update">
    @foreach (var ticket in Model.Tickets)
    {
        <partial model="@ticket" name="../Ticket/_Ticket"/>
    }
</form>