@model htmx_trello.Data.LaneDto

<div class="col-3">
    <h2>@Model.Name</h2>

    <form class="sortable"
          data-lane="@Model.Name"
          hx-put="@Url.Action("SortCards", "Lane", new { boardId = Model.BoardId, laneId = Model.LaneId })"
          hx-trigger="add,update">
        @foreach (var card in Model.Cards)
        {
            <partial model="@card" name="../Card/_Card"/>
        }
    </form>
    <partial name="../Lane/_AddCard" />
</div>